## Loading Data

In [2]:
import pandas as pd

csv_path = "../../data/loan-10k.lrn.csv"

df = pd.read_csv(csv_path)
df.head()

,ID,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,...,debt_settlement_flag,issue_d_month,issue_d_year,earliest_cr_line_month,earliest_cr_line_year,last_pymnt_d_month,last_pymnt_d_year,last_credit_pull_d_month,last_credit_pull_d_year,grade
0,24341,12500.0,12500.0,12500.0,36 months,7.21,387.17,< 1 year,MORTGAGE,81000.0,...,N,6,2018,6,2000,2,2019,2,2019,A
1,67534,33850.0,33850.0,33775.0,60 months,20.99,915.57,1 year,MORTGAGE,80000.0,...,N,10,2015,9,1984,2,2019,2,2019,E
2,35080,10000.0,10000.0,10000.0,60 months,20.00,264.94,< 1 year,RENT,36580.0,...,N,9,2017,10,2006,1,2018,11,2018,D
3,4828,20250.0,20250.0,20250.0,36 months,14.31,695.15,9 years,RENT,48700.0,...,N,0,2015,6,1996,6,2016,9,2017,C
4,59259,25000.0,25000.0,25000.0,36 months,14.99,866.52,1 year,MORTGAGE,85000.0,...,N,11,2016,0,2002,2,2019,2,2019,C

## Preprocessing

Checking missing values

In [3]:
missing_counts = df.isna().sum()
print("Total missing values:", int(missing_counts.sum()))

Total missing values: 0

Encoding column grade to numerical values: A = 0, B = 1, C = 2, D = 3, E = 4

In [ ]:
# Encode `grade` A->0, B->1, C->2, D->3, E->4 (simple)
mapping = {'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4}
df['grade'] = df['grade'].astype('string').str.strip().str.upper().map(mapping)
df.head()

AttributeError: Can only use .str accessor with string values!

In [7]:
# Inspect dtype and example values of `grade`
print("dtype:", df['grade'].dtype)
print("is string-like:", pd.api.types.is_string_dtype(df['grade']))
print("unique sample:", df['grade'].unique()[:10])

dtype: float64
is string-like: False
unique sample: [ 0.  4.  3.  2.  1. nan]